.sp440 {
    display: none
}

@media screen and (min-width: 751px) {
    a[href^="tel:"] {
        pointer-events: none;
    }

    .sp {
        display: none !important;
    }

    /* nav */
    .hamburger {
        display: block;
        z-index: 100;
    }

    /* NAV */

    nav {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: rgb(255 255 255 / 80%);
        top: 0;
        right: 0;
        z-index: 10;
    }

    nav .content {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }

    nav .nav_block {
        width: 620px;
        position: absolute;
        right: 0;
        height: 100%;

    }

    .nav_block ul li a:hover {
        text-decoration: underline;
        background-color: unset;
    }

    nav .dif,
    .nav_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        width: 620px;
        z-index: 1;
    }

    nav .dif {
        height: 130px;
        float: right;
        z-index: 1;
        margin-bottom: 0;
        border-bottom: 0.5px solid #e5dacd;
        padding-left: 15px;
    }

    nav .dif img {
        width: 300px;
        margin-left: 15px;
    }

    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        height: calc(100vh - 130px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 130px;
    }

    .nav_list>li {
        background-color: rgb(255 241 223 / 50%);
        border-bottom: .5px solid #e5dacd;
        width: 100%;
    }

    .nav_list .sub li {
        border-top: .5px solid #e5dacd;
    }

    .nav_list .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 60px 30px;
        background-color: #fff;
        border-bottom: 0;
    }

    .nav_list .pic .pic_sub {
        margin-bottom: 30px;
    }

    .nav_list .pic .pic_sub.sub3 {
        margin-bottom: 0;
    }

    .nav_list .pic img {
        width: 100%;
    }

    .nav_list>li>a::before {
        content: url(../images/ic_ar_nav01.png);
        position: absolute;
        right: 12px;
    }



    .nav_list a:not([href])::before,
    .nav_list a:not([href])::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 4px;
        background-color: var(--scolor);
        top: calc(50% - 1px);
        right: 10px;
        transition: all 0.3s;
        border-radius: 6px;
    }

    .nav_list a:not([href])::after {
        transform: rotate(-90deg);
    }

    .nav_list .parent.open a:not([href])::after {
        transform: rotate(0);
    }


    .nav_list>li:last-child>a {
        border-bottom: 0;
    }

    .nav_list>li>a {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 23px;
        height: 83px;
        font-weight: bold;
        color: var(--txt);
        font-size: 24px;
        letter-spacing: 0.075em;
        line-height: 0;
        text-transform: uppercase;
        width: 100%;
    }

    .nav_list>li>a.dropdownlink:hover {
        text-decoration: none;
    }

    .nav_list .parent:last-child .sub {
        transform: translate(-30%, 0);
    }

    .nav_list .parent .sub a {
        display: flex;
        align-items: center;
        background-color: rgb(255 255 255 / 50%);
        color: var(--txt);
        padding: 5px 47px;
        font-size: 22px;
        font-weight: bold;
        height: 85px;
        letter-spacing: 0.075em;
        line-height: 0;
        cursor: pointer;
        position: relative;
    }


    .nav_list .parent .sub a::before {
        content: url(../images/ic_ar_nav01.png);
        position: absolute;
        right: 12px;
    }

    /* sec 06 */
    .sec06 .block.block02 {
        flex-direction: row-reverse;
        justify-content: end;
    }


    .sec06 .block.block02 .title {
        left: -1px;
        right: 0;
        top: 18px;
        padding: 6px 0px 6px 56px;

    }

    .sec06 .block.block02 .title::after {
        left: 13px;
        right: 0;
    }

    .sec06 .block.block02 .content {
        align-items: end;
        padding-right: 171px;
        padding-left: 0;
    }

    .sec06 .block.block02 .content::before {
        content: "";
        left: 40px;
        right: 0;
        bottom: -9px;
    }

    .sec06 .block.block02 .top {
        right: -9px;
        left: unset;
    }

    .sec06 .block.block02 .top>span {
        margin-right: -10px;
    }





    /*  FOOTER */
    .ft_bnn li:not(:last-child) {
        margin-right: 30px;
    }

    */

    /* hover */
    .ft_link ul li>a:hover {
        color: var(--scolor);
        text-decoration: none;
    }

    /* 
    .parent:hover .sub {
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible
    } */


    /* .sub a:hover {
        background-color: var(--scolor);
        text-decoration: none;
    } */

    .ft_bnn li a:hover,
    .to_top img:hover {
        opacity: .8
    }

}

@media screen and (min-width:751px) and (max-width: 1235px) {
    .mv .slide_item .btn {
        right: 35px;
    }
}

@media screen and (min-width: 751px) and (max-width: 1500px) {
    #wrapper {
        min-width: 1230px;

    }

    h1 {
        left: 17px;
        font-size: 10px;
    }

    .h_left #logo {
        padding-top: 6px;
    }

    .h_left #logo img {
        width: 230px;
    }


    .inner {
        padding: 0 15px;
    }



    nav .dif {
        height: 145px;
        right: 0;
    }

    .nav_list {
        height: calc(100vh - 145px);
        margin-top: 145px;
        right: 0;

    }

    .nav_list .dropdownlink,
    .nav_list .sub a {
        height: 60px;
    }


    .parent:last-child .sub {
        transform: translate(-42%, 0);
    }

    .h_inner {
        padding: 10px 15px;
    }

    .h_left span {
        position: absolute;
        left: 260px;
        top: 0px;
    }

    .h_left span img {
        width: 330px;
    }

    /* .h_inner::before {
        display: none;
    } */

    .h_right {
        justify-content: start;
    }

    .sub_logo {
        right: 160px;
        bottom: 6px;
    }

    .h_contact {
        margin-left: -150px;
    }

    .h_contact_tel a {
        font-size: 34px;
    }

    .h_contact_mail a {
        width: 232px;
        height: 110px;
    }

    .hamburger {
        right: 16px;
        top: 2px;
    }

    .hamburger-box {
        top: 3px;
        left: 10px;
    }

    .menu_list {
        padding: 0 15px;
    }

    .sec01 {
        padding-top: 60px;
    }

    .sec01_pic .wrap_text {
        left: 20px;
    }

    .sec01_pic img {
        margin-right: -15px;
    }

    .sec02 {
        background-position-x: calc(87% + 7px);
    }

    .sec03 .inner>span {
        margin-left: 15px;
        margin-right: 15px;
    }

    .sec03 .inner .pic {
        height: 1020px;
    }

    .sec04 .slick-slide {
        transition: all 0.4s ease-in-out;
        padding: 0 11px;
        transform: scale(.8);
    }

    .sec04 .slick-center {
        transition: all 0.4s ease-in-out;
        padding: 0 11px;
        display: flex;
        justify-content: start;
        transform: scale(1);
    }

    .sec04 .slider {
        top: -60px;
    }

    .sec04 .slick-center {
        transform: scale(.9);
    }

    .sec04 .slick-prev {
        left: 0;
    }

    .sec04 .slick-next {
        right: 0;
    }

    .sec05 .block {
        padding: 0 15px 73px;
        margin: 0;
        width: 100%;
    }

    .sec05 .block .title::before {
        content: url(../images/sec05_service.png);
        position: absolute;
        z-index: 1;
        right: 289px;
        bottom: -38px;
    }


    .sec05 ul li a .pic {
        width: 370px;
    }

    .sec05 ul li .bottom {
        width: 370px;
    }

    .sec05 ul li .bottom .text {
        font-size: 25px;
    }

    .sec05 ul li .bottom .text .ja {
        font-size: 16px;
    }

    .sec05 ul li .bottom .dect {
        font-size: 15px;
    }

    .sec05 .inner::before {
        left: -10px;
        transform: scale(.9);
    }

    .sec05 .inner::after {
        left: 318px;
        transform: scale(.9);
    }

    .sec06 .inner {
        padding: 82px 15px 86px;
    }

    .sec06 .title {
        right: 0;
    }

    .sec06 .block.block02 .title {
        left: 0;
    }




    .sec08 .top_r .pic::before {
        top: -80px;
        right: 60px;
    }

    .sec08 .top_r .pic::after {
        top: 50px;
        left: 15%;
        transform: scale(.8);
    }

    .sec08 .top_l .dect>span {
        margin-right: -30px;
    }

    .sec09 .title .dect {
        width: 60%;
    }

    .sec09 .content {
        justify-content: space-around;
    }


    .sec09 .content .video iframe {
        width: 560px;
        height: 315px;
    }


    .sec09 .content .pic {
        width: calc(100% / 4 - 10px);
    }


    .sec11 .inner {
        padding: 45px 15px;
    }

    .sec11 .right {
        width: 55%;
    }


}

@media screen and (min-width:1501px) and (max-width: 1650px) {
    .sec08 .top_r .pic {
        transform: scale(.9);
        z-index: 1;
        left: -40px;
    }
}


/* screen-min:750px */
@media screen and (max-width: 750px) {
    img {
        max-width: 100%;
        height: auto;
    }

    #wrapper,
    header,
    main,
    footer,
    .inner {
        width: 100% !important;
        min-width: unset !important
    }

    .pc {
        display: none !important
    }

    .btn a {
        background: url(../images/btn_ic_ar.png) no-repeat right 12px center /15px var(--scolor);
        width: 330px;
        height: 60px;
        font-size: 20px;
        background-position: calc(100% - 13px) 54%;
    }

    .btn a:hover {
        background-position: 12px 54%;
    }

    .title .ja {
        font-size: 50px;
    }

    .inner {
        padding: 0 10px;
    }

    /* NAV */
    nav {
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-bottom: 80px;
        z-index: 100;
        display: none;
        background: #fff;
    }

    nav .inner {
        padding: 0;
    }

    nav .nav_block .dif {
        display: none;
    }

    .nav_list {
        flex-direction: column;
        background-color: #fff;
    }

    .nav_list ul,
    .nav_list li {
        width: 100%
    }

    .nav_list li {
        background-color: rgb(255 241 223 / 50%);
        border-top: 0.5px solid #e5dacd;
    }

    .nav_list .parent .sub ul li {
        background-color: rgb(255 255 255 / 50%);
    }


    .nav_list a {
        display: block;
        padding: 13px 15px 12px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        color: var(--txt);
        letter-spacing: 0.075em;
        text-transform: uppercase;
    }

    .nav_list a {
        position: relative;
        padding-left: 15px
    }

    .nav_list a[href]::before {
        content: url(../images/ic_ar_nav01.png);
        transform: scale(0.8);
        position: absolute;
        right: 13px;

    }


    .nav_list a:not([href])::before,
    .nav_list a:not([href])::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 3px;
        background-color: var(--scolor);
        top: calc(50% - 1px);
        right: 10px;
        transition: all 0.3s;
        border-radius: 6px;
    }

    .nav_list a:not([href])::after {
        transform: rotate(-90deg);
    }

    .nav_list .parent.open a:not([href])::after {
        transform: rotate(0);
    }

    .sub {
        display: none
    }

    .sub ul:not(:last-child) {
        margin-bottom: 15px
    }

    .sub a {
        padding-left: 30px;
    }

    .nav_list .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px 100px 20px;
        background-color: #fff;
        border-bottom: 0;
    }

    .nav_list .pic .pic_sub {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .nav_list .pic .pic_sub.sub3 {
        margin-bottom: 0;
    }

    .hamburger {
        position: absolute;
        right: 1%;
        bottom: 8px;
        font: inherit;
        display: block;
        overflow: visible;
        margin: 0;
        cursor: pointer;
        transition-timing-function: linear;
        transition-duration: .15s;
        transition-property: opacity, filter;
        text-transform: none;
        color: inherit;
        border: 0;
        z-index: 101;
    }

    .hamburger-box {
        width: 65px;
        height: 60px;
        top: 3px;
        border-radius: 4px;
    }

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 22px;
        height: 2px;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--3dxy.is_active .hamburger-inner::before {
        transform: translate3d(0, 10px, 0) rotate(45deg)
    }

    .hamburger--3dxy.is_active .hamburger-inner::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg)
    }

    /*=====================================================
                          C U S T O M
    ======================================================*/

    /*============ HEADER ============*/
    h1 {
        display: none;
    }

    .h_box {
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .h_inner {
        padding: 0 10px;
    }

    .h_inner::before {
        display: none;
    }

    .h_left {
        width: 80%;
    }

    .h_left #logo {
        padding-top: 5px;
        margin-bottom: 0;
        width: 230px;
    }

    .h_left #logo::before {
        bottom: -24px;
    }

    .h_left span {
        display: none;
    }

    .h_right {
        display: none;
    }



    /*============ Main ============*/
    main {
        padding-top: 0px;
    }

    /* MAIN VISUAL */
    .mv_bg,
    .main_slider li.slide_item {
        height: 420px
    }

    .mv_txt h2 {
        font-size: 25px;
    }

    .mv_txt {
        width: 100%;
        left: 0;
    }

    .mv_txt>span {
        flex-shrink: 0;
        width: 100px;
    }


    /* sec01 */

    .sec01 .inner {
        padding: 50px 10px 316px;
    }

    .sec01 .inner::before {
        left: -219px;
        bottom: -136px;
        transform: scale(.6);
    }

    .sec01 .inner::after {
        right: -45px;
        bottom: 226px;
        transform: scale(.8);
    }

    .sec01_pic {
        position: unset;
    }

    .sec01_pic {
        flex-direction: column;
    }

    .sec01_pic .wrap_text {
        position: unset;
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .sec01_pic .text {
        font-size: 50px;
        line-height: 1.125em;
        color: #2ba6e1;
        writing-mode: unset;
        white-space: nowrap;
        width: 100%;
        text-indent: 50px;
    }

    .sec01_pic .text.text_dif {
        text-indent: 0;
    }

    .sec01_pic .text.text_dif::first-letter {
        letter-spacing: 0;
    }

    .sec01 ul {
        margin-top: 65px;
        width: 100%;
    }

    .sec01 ul .item {
        display: block;
        font-size: 22px;
        margin-bottom: 10px;
        justify-content: start;
        height: 70px;
        padding-left: 96px;
        width: 100%;
        color: var(--txt_sub);
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 12px 0px 12px 83px;
    }

    .sec01 ul .item_dif {
        width: 83px;
        left: 0;
        top: -23px;
        padding: 20px 0;
    }

    .sec01 ul .item_dif span {
        font-size: 22px;
    }

    .sec01 ul .item_dif span.vlr {
        font-size: 18px;
        letter-spacing: -2px;
    }

    .sec01 ul .item_dif span.f_big {
        font-size: 40px;
    }

    /* sec02 */
    .sec02 {
        background-position-x: 7px
    }

    .sec02 .inner {
        background-position-x: center;
    }

    .sec02 .inner::before {
        bottom: -20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid var(--mcolor);
    }

    .sec02 .inner .title {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }

    .sec02 .left {
        width: 100%;
        font-size: 28px;
        position: unset;
    }

    .sec02 .left .f_big {
        font-size: 56.78px;
    }

    .sec02 .left .text {
        margin-top: 0px;
        margin-left: 10px;
    }

    .sec02 .right {
        width: 100%;
        padding-left: 0;
        font-size: 40px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sec02 .right .num {
        font-size: 132.56px;
        margin-right: 10px;
        margin-top: 0;
        margin-left: 0;
    }

    .sec02 .right .text .f_big {
        font-size: 60px;
    }

    /* sec03 */
    .sec03 .inner .pic {
        height: auto;
    }

    /* sec04 */
    .sec04_content,
    .sec07_content {
        max-width: 750px;
    }

    .sec04 .title {
        background-position-y: 0px;
        background-position-x: calc(50% + 38px);
        background-size: 600px;
        padding-bottom: 58px;
        padding-top: 40px;
    }

    .sec04 .title .ja::before {
        top: 50px;
        transform: scale(.7);
    }

    .sec04 .slick-slide {
        transition: all 0.4s ease-in-out;
        transform: scale(.6);
    }

    .sec04 .slick-initialized .slick-active {
        transition: all 0.4s ease-in-out;
        display: flex;
        justify-content: center;
        transform: scale(1);
    }

    .sec04 .slider {
        top: -5px;
    }


    .sec04 .item>div {
        max-width: 450px;
        padding: 45px 20px 65px 24px;
        margin: 0;
    }

    .sec04 .item .top {
        font-size: 20px;
    }

    .sec04 .item .top span {
        font-size: 16px;
        width: 136px;
        height: 38px;
        margin-right: 15px;
    }

    .sec04 .item .pic {
        width: 400px;
    }

    .sec04 .item .content {
        padding: 15px 27px;
        font-size: 14px;
    }

    .sec04 .item .content .text.left {
        padding-right: 15px;
    }

    .sec04 .item .content .text.left::before {
        height: 45px;
        top: 2px;
    }

    .sec04 .item .content .text.right {
        padding-left: 15px;
    }

    .sec04 .twentytwenty-handle {
        height: 40px;
        width: 40px;
    }

    .sec04 .twentytwenty-left-arrow,
    .twentytwenty-right-arrow,
    .twentytwenty-up-arrow,
    .twentytwenty-down-arrow {
        border: 8px inset transparent;
    }

    .sec04 .twentytwenty-horizontal .twentytwenty-handle:before {
        bottom: -13%;
        margin-bottom: 7px;
    }

    .sec04 .twentytwenty-left-arrow {
        border-right: 10px solid white;
        left: 35%;
        margin-left: -16px;
    }

    .sec04 .twentytwenty-left-arrow,
    .twentytwenty-right-arrow {
        top: 47%;
        margin-top: -6px;
    }

    .sec04 .twentytwenty-right-arrow {
        border-left: 10px solid white;
        right: 35%;
        margin-right: -16px;
    }

    .sec04 .twentytwenty-before-label:before,
    .sec04 .twentytwenty-after-label:before {
        padding: 0 12px;
        font-size: 16px;
        width: 75px;
        height: 31px;
    }


    /* sec05 */
    .sec05::before,
    .sec05::after {
        transform: scale(0.3);

    }

    .sec05::before {
        left: -170px;
        top: -158px;
    }

    .sec05::after {
        right: -208px;
        top: -108px;
    }

    .sec05 .inner {
        padding: 0;
    }

    .sec05 .inner::before,
    .sec05 .inner::after {
        position: absolute;
        z-index: 1;
        transform: scale(.5);
    }

    .sec05 .inner::before {
        left: -75px;
        top: -275px;
    }

    .sec05 .inner::after {
        left: 135px;
    }

    .sec05 .block {
        z-index: 2;
        width: 100%;
        padding: 0 0 80px 0;
        margin: 0;
    }

    .sec05 .block::before,
    .sec05 .block::after {
        top: -25px;
        transform: scale(.8);
    }

    .sec05 .block::before {
        left: 0px;
    }

    .sec05 .block::after {
        right: 0px;
    }

    .sec05 .block .title {
        top: -35px;
        left: 10px;
    }


    .sec05 .block .title::before {
        display: none;
    }



    .sec05 .block .title .ja {
        font-size: 50px;
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    .sec05 .block .title .ja::before {
        right: 0px;
        bottom: 0px;
        z-index: -1;
        transform: scale(.7);
    }

    .sec05 .block .ja.dif::after {
        content: url(../images/sec05_service.png);
        position: absolute;
        z-index: 1;
        right: -90px;
        bottom: -62px;
        transform: scale(.7);
    }

    .sec05 ul {
        flex-direction: column;
    }

    .sec05 ul li {
        width: 100%;
    }

    .sec05 ul li:first-child a,
    .sec05 ul li:last-child a {
        align-items: center;
    }

    .sec05 ul li .bottom {
        padding: 0 8px;
        width: 100%;
        align-items: center;
    }



    .sec05 ul li .bottom .dect {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    /* sec06 */
    .sec06 .inner {
        padding: 50px 10px 50px;
    }

    .sec06 .block {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sec06 .title {
        width: 260px;
        padding: 6px 6px 56px 6px;
        margin-top: -110px;
        box-shadow: 6px 6px 0 rgb(68 60 53 / 10%);
        transition: all cubic-bezier(0, 0, 0.2, 1) 0.3s;
        position: unset;
    }

    .sec06 .title::after {
        top: unset;
        right: unset;
        bottom: 13px;
        height: 28px;
        transform: rotate(90deg);
    }

    .sec06 .content {
        height: 961px;
        align-items: start;
        padding-top: 210px;
        padding-left: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .sec06 .content::before,
    .sec06 .block.block02 .content::before {
        background-size: contain;
        top: -280px;
        right: 0;
        bottom: 0;
    }

    .sec06 .top,
    .sec06 .bottom {
        writing-mode: vertical-lr;
        font-size: 35px;
    }

    .sec06 .bottom>span {
        font-size: 50px;
    }

    .sec06 .dect {
        margin: 50px 0 50px;
    }

    .sec06 .wrap_btn {
        margin-top: 0px;
        flex-direction: column;
    }

    .sec06 .wrap_btn .btn {
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* sec07 */
    .sec07 .title img {
        margin-right: 10px;
        width: 100px;
    }

    .sec07 .title .ja {
        left: 0;
        font-size: 60px;
    }

    .sec07 .title .ja::after {
        right: -54px;
        bottom: -56px;
        transform: scale(.7);
    }

    .sec07 .slick-initialized .slick-slide {
        margin: 0 5px;
    }

    .sec07 .slick-slide img {
        max-width: 320px;
    }

    /* sec08 */
    .sec08 .inner {
        padding: 0;
    }

    .sec08 .top {
        justify-content: space-between;
        padding: 50px 10px 0;
    }

    .sec08 .top_l {
        width: 360px;
        align-items: flex-start;
        flex-shrink: 0;
    }

    .sec08 .top_l .ja {
        padding: 13px 0px 0 70px;
        font-size: 30px;
        margin-right: 0;
    }

    .sec08 .top_l .ja::before {
        left: -20px;
        bottom: -55px;
        transform: scale(.56);
    }

    .sec08 .top_l .ja>span {
        margin: 0 0 0 -13px;
        font-size: 30px;
    }

    .sec08 .top_l .ja>span:first-child {
        margin-right: -12px;
    }

    .sec08 .top_l .content {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .sec08 .top_l .content::before {
        right: -60px;
        bottom: -80px;
        transform: scale(.6);
    }

    .sec08 .top_l .content>span {
        width: 80px;
        height: 80px;
        font-size: 50px;
    }

    .sec08 .top_l .dect {
        right: 0;
        left: 78px;
        font-size: 10px;
        margin-top: 0;
        margin-left: 0;
    }

    .sec08 .top_l .dect:before {
        left: -115px;
        top: -35px;
        transform: scale(.8);
    }

    .sec08 .top_l .dect span {
        margin-top: 106px;
    }

    .sec08 .top_r {
        width: 35%;
    }

    .sec08 .top_r::before {
        top: 19px;
        right: -40px;
        transform: scale(.8);
    }

    .sec08 .top_r::after {
        bottom: 78px;
        right: -174px;
        transform: scale(0.5);
    }

    .sec08 .top_r .pic::before {
        background-size: contain;
        top: -90px;
        right: 40px;
    }

    .sec08 .top_r .pic::after {
        top: 15px;
        left: -10px;
        background-size: contain;
        transform: scale(1.1);
    }

    .sec08 .bottom .info .box {
        width: calc(50% - 5px);
        height: 110px;
    }

    .sec08 .bottom .info .left {
        margin-right: 0;
        margin-bottom: 70px;
    }

    .sec08 .bottom .info .right {
        margin-left: 0;
    }

    .sec08 .bottom .info .box::before {
        font-size: 60px;
    }

    .sec08 .bottom .info .text {
        font-size: 30px;
        position: relative;
        z-index: 2;
    }

    .sec08 .bottom .info .text::before {
        top: -85px;
        right: 9px;
        transform: scale(.7);
    }

    .sec08 .bottom .info .box::after {
        transform: scale(.6);
    }

    .sec08 .bottom .info .box.left::after {
        right: -20px;
        bottom: -44px;
    }

    .sec08 .bottom .info .box.right::after {
        right: -20px;
        bottom: -45px;
    }

    /*============ sec 09 ============*/
    .sec09 .inner {
        margin-top: 0;
    }

    .sec09 .title::before {
        bottom: unset;
        top: 90px;
    }

    .sec09 .title .ja {
        font-size: 25px;
    }

    .sec09 .title .ja .f_big {
        font-size: 36px;
        display: unset;
    }

    .sec09 .title .ja .f_big>span {
        font-size: 50px;
    }

    .sec09 .title .dect {
        font-size: 18px;
        width: 100%;
        margin-top: 15px;
    }

    .sec09 .title .pic {
        position: unset;
    }

    .sec09 .content {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .sec09 .content .text {
        position: unset;
        font-size: 144px;
        margin-bottom: 50px;
        line-height: 1em;
    }

    .sec09 .content .video iframe {
        margin-bottom: 20px;
    }

    .sec09 .content .pic {
        margin-bottom: 20px;
    }
    /*============ sec10 ============*/

    .sec10 .inner a {
        width: 100%;
        background-size: contain;
        height: 150px;
        margin: -12px auto 20px;
    }

    /*============ FOOTER ============*/
    .sec11 .inner {
        align-items: center;
        padding: 45px 10px 70px;
        flex-direction: column;
    }

    .sec11 .left.tel {
        text-align: center;
        height: 76px;
        margin-right: 100;
        padding: 0px 0px;
        margin: 0;
        width: 100%;
    }

    .sec11 .left::before {
        content: url(../images/sec11_img03.png);
        position: absolute;
        left: 0px;
        top: -15px;
    }

    .sec11 .left.tel a {
        float: left;
        text-align: left;
        position: relative;
        margin-left: 50px;
    }

    .sec11 .left .sweetlink {
        font-size: 45px;
    }

    .sec11 .left .time {
        text-align: left;
        position: absolute;
        top: 30px;
        left: 5px;
    }

    .sec11 .right {
        width: 100%;
        flex-wrap: wrap;
        height: 200px;
    }

    .sec11 .right .info {
        width: 100%;
        text-align: left;
        margin: 45px 0 23px 45px;
    }

    .sec11 .right .info::before {
        left: -45px;
        top: -38px;
    }

    .sec11 .right .block {
        width: calc(50% - 10px);
        position: absolute;
        right: 10px;
    }

    .sec11 .right .block.mail {
        top: 117px;
    }

    .sec11 .right .block.mail a {
        width: 100%;
        padding: 0 5px;
    }

    .sec11 .right .block .text {
        font-size: 15px;
    }

    .sec11 .right .block .text .f_small {
        font-size: 13px;
    }

    .sec11 .right .block .text::before {
        left: -42px;
        top: 8px;
        transform: scale(.9);
    }

    .sec11 .right .block .sub_text {
        width: 90%;
    }

    .sec11 .right .block.line {
        top: 238px;
    }

    .sec11 .right .block.line .text::before {
        left: 5px;
        top: 5px;
        transform: scale(1);
    }

    .sec11 .right .block.line .text .f_small {
        font-size: 16px;
    }

    footer {
        padding-bottom: 40px;
    }

    .ft_content {
        padding: 40px 0 0px;
    }

    .ft_content .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 10px;
    }

    .ft_top {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 100%;
    }

    .ft_info {
        width: 100%;
        padding-right: 0;
    }

    .ft_info_logo {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .ft_info_add {
        text-align: center;
        font-size: 15px;
    }

    .ft_info_logo .wrap_icon {
        margin-top: 20px;
        justify-content: center;
    }

    .ft_map {
        width: 100%;
        margin-top: 40px;
    }

    .ft_map_iframe {
        height: 199px;
    }

    .ft_img {
        margin-top: 50px;
        justify-content: space-between;
    }

    .ft_img span {
        width: calc(100% / 2 - 10px);
        margin-right: 10px;
    }

    .ft_img span:last-child {
        margin-right: 0;
    }

    .ft_img span a {
        font-size: 16px;
        height: 75px;
    }

    /* sp contact */
    .sp_contact {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        z-index: 99;
        bottom: -55px;
        transition: all 0.3s;
    }

    address {
        padding: 40px 2px 0px 0;
        text-align: center;
    }

    .sp_contact.show {
        bottom: 0;
    }

    .sp_contact li {
        width: 50%;
        height: 100%;
    }

    .sp_contact li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
    }

    .sp_contact li a span {
        position: relative;
        padding-left: 25px
    }

    .sp_contact li a span::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: -5px;
        top: calc(50% - 10px)
    }

    .sp_contact_tel {
        background-color: var(--mcolor)
    }

    .sp_contact_tel a span::before {
        background: url(../images/ic_h_tel_wh.png) no-repeat center /20px
    }

    .sp_contact_mail {
        background-color: var(--blue)
    }

    .sp_contact_mail a span::before {
        background: url(../images/ic_h_mail.png) no-repeat center /20px;
    }

    /* to top */
    .to_top {
        width: 40px;
        height: 40px;
        right: 10px
    }

    .to_top a img {
        bottom: 0;
        position: absolute
    }

    .to_top::before {
        width: 17px;
        left: 12px;
        height: 100%;
        top: 1px;
    }

    .to_top::after {
        width: 10px;
        height: 10px;
        left: 10px;
        top: 20px
    }

    /*============ END 750 ============ */

}

@media screen and (min-width: 441px) and (max-width: 560px) {
    .sec08 .top_r::before {
        top: 20px;
        right: -100px;
        transform: scale(.7);
    }

    .sec08 .top_r::after {
        bottom: 171px;
        right: -273px;
        transform: scale(0.2);
    }

    .sec08 .top_r .pic::before {
        top: -120px;
        right: -6px;
        max-width: 300px;
        min-width: 105px;
    }

    .sec08 .top_r .pic::after {
        top: -40px;
        left: unset;
        right: -7px;
        background-size: contain;
        min-width: 105px;
        max-width: 300px;
    }

    .sec08 .bottom .info .box {
        padding-left: 10px;
    }

    .sec08 .bottom .info .text {
        line-height: 1em;
    }

    .sec08 .bottom .info .box::before {
        font-size: 50px;
        left: 5px;
        top: -22px
    }

    .sec08 .bottom .info .text::before {
        top: -78px;
        right: 15px;
        transform: scale(.6);
    }

    .sec08 .bottom .info .box::after {
        transform: scale(.5);
    }
    .sec09 .content .text {
        font-size: 124px;
    }

}

/* screen-max:460px */
@media screen and (max-width: 440px) {
    .sp440 {
        display: block !important;
    }

    .btn a {

        width: 310px;
        font-size: 18px;

    }

    .sec01 .inner::after {
        right: -50px;
        transform: scale(.75);
    }

    .sec02 .left .f_big {
        font-size: 45.78px;
    }

    .sec02 .left {
        font-size: 25px;
    }

    .sec04 .title {
        background-size: 560px;
        padding-bottom: 58px;
        padding-top: 32px;
    }

    .sec04 .slider {
        top: -25px;
    }

    .sec04 .item>div {
        margin: 0px 10px 10px 10px;
    }

    .sec04 .item .pic {
        width: 350px;
    }

    .sec05 .block .ja.dif::after {
        right: -34px;
    }

    .sec08 .top {
        padding: 50px 0 0 0;
        flex-direction: column;
    }

    .sec08 .top_l .dect:before {
        left: -20px;
        top: -60px;
        transform: scale(.8);
    }

    .sec08 .top_l .dect {
        font-size: 12px;
        width: 100%;
        text-align: left;
        right: 0;
        left: 20px;
    }

    .sec08 .top_l .dect span {
        width: 100%;
        margin-top: 232px;
    }

    .sec08 .top_r {
        width: 100%;
        height: 500px;
        margin-top: 80px;
    }

    .sec08 .top_r::before {
        top: -30px;
        right: -15px;
    }

    .sec08 .top_r::after {
        bottom: 97px;
        right: -184px;
    }

    .sec08 .top_r .pic::before {
        top: -90px;
        right: 0;
        transform: scale(.9);
        background-size: contain;
    }

    .sec08 .top_r .pic::after {
        top: 40px;
        left: 0px;
        background-size: contain;
        transform: scale(.98);
    }

    .sec08 .bottom .info {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 70px;
    }


    .sec08 .bottom .info .box {
        width: 310px;
        height: 80px;
        padding-left: 10px;
    }

    .sec08 .bottom .info .box::before {
        left: 20px;
        top: -25px;
    }

    .sec08 .bottom .info .text::before {
        transform: scale(.6);
        top: -65px;
    }

    .sec08 .bottom .info .box::after {
        transform: scale(.4);
    }

    .sec08 .bottom .info .box.left::after {
        right: -49px;
        bottom: -63px;
    }

    .sec08 .bottom .info .box.right::after {
        right: -36px;
        bottom: -60px;
    }

    .sec09 .content .video iframe {
        width: 326px;
        max-height: 326px;
    }
    .sec09 .content .text {
        font-size: 84px;
    }
    .sec11 .left .sweetlink {
        font-size: 37px;
    }

    .ft_img {
        flex-wrap: wrap;
    }

    .ft_img span {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .ft_bnn li {
        width: 100%;
    }


}

/* screen-max: 360px */
@media screen and (max-width: 360px) {}