.sp440 {
    display: none
}

@media screen and (min-width: 751px) {
    a[href^="tel:"] {
        pointer-events: none;
    }

    .sp {
        display: none !important;
    }

    /* nav */
    .hamburger {
        display: block;
        z-index: 100;
    }

    /* NAV */

    nav {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgb(255 255 255 / 80%);
        top: 0;
        right: 0;
        z-index: 10;
    }

    nav .content {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }

    nav .nav_block {
        width: 620px;
        position: absolute;
        right: 0;
        height: 100%;

    }

    .nav_block ul li a:hover {
        text-decoration: underline;
        background-color: unset;
    }
    .nav_list .pic .pic_sub:hover{opacity: .8;}

    nav .dif,
    .nav_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        width: 620px;
        z-index: 1;
    }

    nav .dif {
        height: 130px;
        float: right;
        z-index: 1;
        margin-bottom: 0;
        border-bottom: 0.5px solid #e5dacd;
        padding-left: 15px;
    }

    nav .dif img {
        width: 300px;
        margin-left: 15px;
    }

    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        height: calc(100% - 130px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 130px;
    }

    .nav_list>li {
        background-color: rgb(255 241 223 / 50%);
        border-bottom: .5px solid #e5dacd;
        width: 100%;
    }

    .nav_list .sub li {
        border-top: .5px solid #e5dacd;
    }

    .nav_list .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 60px 30px;
        background-color: #fff;
        border-bottom: 0;
    }
    .nav_list .pic .pic_sub {
        margin-bottom: 25px;
    }

    .nav_list .pic .pic_sub.sub3 {
        margin-bottom: 0;
    }

    .nav_list .pic img {
        width: 100%;
    }

    .nav_list>li>a::before {
        content: url(../images/ic_ar_nav01.png);
        position: absolute;
        right: 12px;
    }



    .nav_list a:not([href])::before,
    .nav_list a:not([href])::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 4px;
        background-color: var(--scolor);
        top: calc(50% - 1px);
        right: 10px;
        transition: all 0.3s;
        border-radius: 6px;
    }

    .nav_list a:not([href])::after {
        transform: rotate(-90deg);
    }

    .nav_list .parent.open a:not([href])::after {
        transform: rotate(0);
    }


    .nav_list>li:last-child>a {
        border-bottom: 0;
    }

    .nav_list>li>a {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 23px;
        font-weight: bold;
        color: var(--txt);
        font-size: 24px;
        letter-spacing: 0.075em;
        line-height: 0;
        text-transform: uppercase;
        width: 100%;
        height: 83px;
    }



    .nav_list .parent:last-child .sub {
        transform: translate(-30%, 0);
    }

    .nav_list .parent .sub a {
        display: flex;
        align-items: center;
        background-color: rgb(255 255 255 / 50%);
        color: var(--txt);
        padding: 5px 47px;
        font-size: 22px;
        font-weight: bold;
        height: 85px;
        letter-spacing: 0.075em;
        line-height: 0;
        cursor: pointer;
        position: relative;
    }


    .nav_list .parent .sub a::before {
        content: url(../images/ic_ar_nav01.png);
        position: absolute;
        right: 12px;
    }


    /* sec 06 */
    .sec06 .block.block02 {
        flex-direction: row-reverse;
        justify-content: end;
    }


    .sec06 .block.block02 .title {
        left: -1px;
        right: 0;
        top: 18px;
        padding: 6px 0px 6px 56px;

    }

    .sec06 .block.block02 .title::after {
        left: 13px;
        right: 0;
    }

    .sec06 .block.block02 .content {
        align-items: end;
        padding-right: 171px;
        padding-left: 0;
    }

    .sec06 .block.block02 .content::before {
        content: "";
        left: 40px;
        right: 0;
        bottom: -10px;
    }

    .sec06 .block.block02 .top {
        right: -9px;
        left: unset;
    }

    .sec06 .block.block02 .top>span {
        margin-right: -10px;
    }





    /*  FOOTER */
    .ft_bnn li:not(:last-child) {
        margin-right: 30px;
    }

    */

    /* hover */
    .ft_link ul li>a:hover {
        color: var(--scolor);
        text-decoration: none;
    }

    .ft_bnn li a:hover,
    .to_top img:hover {
        opacity: .8
    }

}



@media screen and (min-width: 751px) and (max-width: 1566px) {
    :root {
        --site_size: 1200px;
    }

    #wrapper {
        min-width: 1230px;
    }

    h1 {
        left: 17px;
        font-size: 10px;
    }

    .h_left #logo {
        padding-top: 34px;
    }

    .inner {
        padding: 0 15px;
    }



    nav .dif {
        height: 145px;
        right: 0;
    }

    .nav_list {
        height: calc(100% - 130px);
        margin-top: 145px;
        right: 0;

    }

    .parent:last-child .sub {
        transform: translate(-42%, 0);
    }

    .h_inner {
        padding: 10px 15px;
        width: 1300px;
    }

    .h_left span {
        margin-left: 10px;
    }

    .h_left span img {
        width: 310px;
    }


    .h_right {
        justify-content: flex-start;
        margin-left: 25px;
    }

    .sub_logo {
        right: 180px;
        bottom: 7px;
    }

    .h_contact {
        margin-left: -150px;
    }

    .h_contact .h_contact_tel {
        margin-right: 15px;
    }

    .h_contact_tel a {
        font-size: 28px;
    }

    .h_contact_tel .wrap_icon a {
        width: 28px;
    }

    .h_contact_mail a {
        width: 200px;
        height: 110px;
    }

    .h_contact_mail a .text_big {
        font-size: 17px;
        padding-left: 35px;
    }

    .h_contact_mail a .text_big::before {
        width: 32px;
        height: 22px;
        left: -2px;
    }

    .h_contact_mail a .text_big .dif {
        font-size: 15px;
    }

    .h_contact_mail .text_small {
        margin-left: 0;
        width: 180px;
    }

    .hamburger {
        right: 5px;
        top: 15px;
    }


    .menu_list {
        padding: 0 15px;
    }

    .sec01 {
        padding-top: 60px;
    }

    .sec01_pic .wrap_text {
        left: 20px;
    }

    .sec01_pic img {
        margin-right: -15px;
    }

    .sec01 ul .item_dif {
        width: 150px;
        left: -46px;
    }

    .sec01 ul .item {
        padding-left: 82px;
    }

    .sec02 {
        background-position-x: calc(87% + 7px);
    }

    .sec03 .inner>span {
        margin-left: 15px;
        margin-right: 15px;
    }

    .sec03 .inner .pic {
        height: 1020px;
    }

    .sec04 .slick-slide {
        transition: all 0.4s ease-in-out;
        padding: 0 11px;
        transform: scale(.8);
    }

    .sec04 .slick-center {
        transition: all 0.4s ease-in-out;
        padding: 0 11px;
        display: flex;
        justify-content: start;
        transform: scale(1);
    }


    .sec04 .slick-prev {
        left: 0;
    }

    .sec04 .slick-next {
        right: 0;
    }

    .sec05 .block {
        padding: 0 60px 73px;
        margin: 0;
        width: 100%;
    }

    .sec05 ul li {
        width: calc(100% / 3 - 10px);
    }

    .sec05 ul li a .pic {
        width: 370px;
    }

    .sec05 ul li .bottom {
        width: 100%;
    }

    .sec05 ul li .bottom .text {
        font-size: 25px;
    }

    .sec05 ul li .bottom .text .ja {
        font-size: 16px;
    }

    .sec05 ul li .bottom .dect {
        font-size: 15px;
    }

    .sec05 .inner::before {
        left: -10px;
        transform: scale(.9);
    }

    .sec05 .inner::after {
        left: 318px;
        transform: scale(.9);
    }

    .sec06 .inner {
        padding: 82px 15px 86px;
    }

    .sec06 .title {
        right: 0;
    }

    .sec06 .block.block02 .title {
        left: 0;
    }

    .sec08 .top_r .pic {
        left: 40px;
    }

    .sec08 .top_r::before {
        right: 75px;
    }

    .sec08 .top_r::after {
        bottom: 40px;
        right: -50px;
    }

    .sec08 .top_r .pic::before {
        right: 234px;
    }

    .sec08 .top_r .pic::after {
        top: 142px;
        left: 92px;
        width: 500px;
        height: 410px;
    }

.sec08 .top_l .dect>span {
    margin-right: -30px;
}

.sec09 .title .dect {
    width: 60%;
}

.sec09 .content {
    justify-content: space-around;
}


.sec09 .content .video iframe {
    width: 560px;
    height: 315px;
}


.sec09 .content .pic {
    width: calc(100% / 4 - 10px);
}


.sec11 .inner {
    padding: 45px 15px;
}

.sec11 .right {
    width: 55%;
}

}


@media screen and (min-width: 1567px) and (max-width: 1919px) {

    .sec04 .item>div {
        width: 1280px;
        max-width: 100%;
    }

    .sec04 .item .pic {
        width: 660px;
    }
}


/* screen-min:750px */
@media screen and (max-width: 750px) {
    img {
        max-width: 100%;
        height: auto;
    }

    #wrapper,
    header,
    main,
    footer,
    .inner {
        width: 100% !important;
        min-width: unset !important
    }

    .pc {
        display: none !important
    }

    .btn a {
        background: url(../images/btn_ic_ar.png) no-repeat right 12px center /15px var(--scolor);
        width: 330px;
        height: 60px;
        font-size: 20px;
        background-position: calc(100% - 13px) 54%;
    }


    .title .ja {
        font-size: 30px;
    }

    .inner {
        padding: 0 10px;
    }

    /* NAV */
    nav {
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-bottom: 80px;
        z-index: 100;
        display: none;
        background: #fff;
    }

    nav .inner {
        padding: 0;
    }

    nav .nav_block .dif {
        display: none;
    }

    .nav_list {
        flex-direction: column;
        background-color: #fff;
    }

    .nav_list ul,
    .nav_list li {
        width: 100%
    }

    .nav_list li {
        background-color: rgb(255 241 223 / 50%);
        border-top: 0.5px solid #e5dacd;
    }

    .nav_list .parent .sub ul li {
        background-color: rgb(255 255 255 / 50%);
    }


    .nav_list a {
        display: block;
        padding: 13px 15px 12px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        color: var(--txt);
        letter-spacing: 0.075em;
        text-transform: uppercase;
    }

    .nav_list a {
        position: relative;
        padding-left: 15px
    }

    .nav_list li:not(.pic,.parent) a[href]::before {
        content: url(../images/ic_ar_nav01.png);
        transform: scale(0.8);
        position: absolute;
        right: 13px;

    }


    .nav_list a:not([href])::before,
    .nav_list a:not([href])::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 3px;
        background-color: var(--scolor);
        top: calc(50% - 1px);
        right: 10px;
        transition: all 0.3s;
        border-radius: 6px;
    }

    .nav_list a:not([href])::after {
        transform: rotate(-90deg);
    }

    .nav_list .parent.open a:not([href])::after {
        transform: rotate(0);
    }


    .sub {
        display: block !important
    }

    .sub ul:not(:last-child) {
        margin-bottom: 15px
    }

    .sub a {
        padding-left: 30px;
    }

    .nav_list .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px 100px 20px;
        background-color: #fff;
        border-bottom: 0;
    }

    .nav_list .pic p {
        margin-bottom: 0;
    }

    .nav_list .pic .pic_sub {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .nav_list .pic .pic_sub.sub3 {
        margin-bottom: 0;
    }
    .nav_list .pic a{margin-bottom: 0 !important;}

    .hamburger {
        position: absolute;
        right: 15px;
        bottom: 8px;
        font: inherit;
        display: block;
        overflow: visible;
        margin: 0;
        cursor: pointer;
        transition-timing-function: linear;
        transition-duration: .15s;
        transition-property: opacity, filter;
        text-transform: none;
        color: inherit;
        border: 0;
        z-index: 101;
    }

    .hamburger-box {
        width: 55px;
        height: 50px;
        top: 4.5px;
        border-radius: 4px;
    }

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 22px;
        height: 2px;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--3dxy.is_active .hamburger-inner::before {
        transform: translate3d(0, 10px, 0) rotate(45deg)
    }

    .hamburger--3dxy.is_active .hamburger-inner::after {
        transform: translate3d(0, -10px, 0) rotate(-45deg)
    }

    /*=====================================================
                          C U S T O M
    ======================================================*/

    /*============ HEADER ============*/
    h1 {
        display: none;
    }

    .h_box {
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .h_inner {
        padding: 0 10px;
    }

    .h_inner::before {
        display: none;
    }

    .h_left {
        width: 80%;
    }

    .h_left #logo {
        padding-top: 0px;
        margin-bottom: 0;
        width: 180px;
    }

    .h_left #logo::before {
        bottom: -24px;
    }

    .h_left span {
        display: none;
    }

    .h_right {
        display: none;
    }



    /*============ Main ============*/
    main {
        padding-top: 0px;
    }

    /* MAIN VISUAL */
    .mv {
        margin-top: 80px;
    }

    .mv_bg,
    .main_slider li.slide_item {
        /* height: 300px;
        width: 750px; */
        max-width: 100%;
        background-size: cover;
    }


    .mv_txt h2 {
        font-size: 25px;
    }

    .mv_txt {
        bottom: -100px;
        max-width: 100%;
    }

    .mv_txt>span {
        flex-shrink: 0;
        width: 100px;
    }

    .mv .slide_item .btn {
        height: 23px;
        width: 130px;
    }

    .mv .slide_item .btn a {
        font-size: 9px;
        padding-left: 30px;
        background: url(../images/btn_ic_ar.png) no-repeat right 5px center /9px;
        background-position-y: 9px;
    }


    /* sec01 */

    .sec01 .inner {
        padding: 65px 10px 295px;
        align-items: flex-start;
    }

    .sec01 .inner::before {
        left: 0;
        bottom: 0;
        width: 170px;
        height: 270px;
    }

    .sec01 .inner::after {
        right: inherit;
        bottom: 0;
        left: 175px;
        width: 155px;
        height: 35px;
        bottom: 15px;
    }

    .sec01_pic {
        position: unset;
    }

    .sec01_pic {
        flex-direction: column;
    }

    .sec01_pic .wrap_text {
        position: unset;
        align-items: unset;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
        flex-direction: column-reverse;
    }

    .sec01_pic .text {
        font-size: 40px;
        line-height: 1.125em;
        color: #2ba6e1;
        writing-mode: unset;
        white-space: nowrap;
        width: 100%;
        text-indent: 50px;
        text-align: center;
    }

    .sec01_pic .text.text_dif {
        text-indent: 0;
    }

    .sec01_pic .text.text_dif>span {
        font-size: 40px;
    }

    .sec01_pic .text.text_dif::first-letter {
        letter-spacing: 0;
    }

    .sec01 ul {
        margin-top: 22px;
        width: 400px;
        max-width: 100%;
    }

    .sec01 ul .item {
        font-size: 20px;
        margin-bottom: 10px;
        height: 60px;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .sec01 ul .item_dif {
        width: 80px;
        left: 170px;
        top: inherit;
        padding: 20px 0;
        bottom: -235px;
    }

    .sec01 ul .item_dif span {
        font-size: 22px;
    }

    .sec01 ul .item_dif span.vlr {
        font-size: 17px;
        letter-spacing: 0px;
    }

    .sec01 ul .item_dif span.vlr>span {
        letter-spacing: -4px;
    }

    .sec01 ul .item_dif span.f_big {
        font-size: 35px;
        letter-spacing: 6px;
    }

    /* sec02 */
    .sec02 {
        background-position-x: 7px
    }

    .sec02 .inner {
        background-size: inherit;
        background-position-y: 40px;
        background-position-x: calc(20% - 30px);
    }

    .sec02 .inner::before {
        bottom: -15px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--mcolor);
        left: calc(50% - 15px);
    }

    .sec02 .inner .title {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    .sec02 .left {
        width: 100%;
        font-size: 18px;
        position: unset;
    }


    .sec02 .left .text {
        margin-top: 0px;
        margin-left: 10px;
    }

    .sec02 .right {
        width: 100%;
        padding-left: 0;
        font-size: 30px;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .sec02 .right .num {
        margin-right: 10px;
        margin-top: 0;
        margin-left: 0;
    }



    /* sec03 */
    .sec03 {
        padding: 40px 0;
    }
    .sec03::before {
        top: -5px;
        left: -3px;
        width: 580px;
        height: 490px;
    }

    .sec03::after {
        width: 629px;
        height: 532px;
    }

    .sec03 .inner .pic {
        height: auto;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .sec03 .btn {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    /* sec04 */
    .sec04 {
        padding-bottom: 40px;
    }
    .sec04::before {
        left: -5px;
        top: -95px;
        width: 388px;
        height: 360px;
    }

    .sec04 .inner {
        padding: 0px;
    }
    .sec04 .item .content *{font-size: 16px;}

    .sec04_content,
    .sec07_content {
        max-width: 750px;
    }

    .sec04 .title {
        padding: 40px 0;
    }

    .sec04 .title .ja::before {
        top: -30px;
        width: 344px;
        height: 122px;
    }

    .sec04 .title .ja::after {
        width: 65px;
        height: 32px;
        right: -52px;
        bottom: -15px;
    }


    .sec04 button {
        width: 30px;
        height: 30px;
    }

    .sec04 .slick-prev {
        left: 0;
    }

    .sec04 .slick-next {
        right: 0;
    }


    .sec04 .item>div {
        width: 600px;
        padding: 45px 40px 45px 40px;
        max-width: calc(100% - 60px);
        margin: 0 20px;
    }

    .sec04 .item .top {
        font-size: 18px;
    }

    .sec04 .item .top span {
        font-size: 13px;
        width: 120px;
        height: 30px;
        margin-right: 15px;
    }

    .sec04 .item .pic {
        margin: 18px 0 20px;
        width: 500px;
        max-width: 100%;
    }

    .sec04 .item .content {
        padding: 10px;
        font-size: 12px;
        flex-direction: column;
    }

    .sec04 .item .content .text.left {
        padding-right: 0;
        width: 100%;
        text-align: left;
        padding-bottom: 10px;
  
    }

    .sec04 .item .content .text.left::before {
        height: 1.5px;
        top: inherit;
        bottom: 3px;
        width: 100%;
    }

    .sec04 .item .content .text.right {
        padding-left: 0;
        width: 100%;
    }

    .sec04 .twentytwenty-handle {
        height: 40px;
        width: 40px;
    }

    .sec04 .twentytwenty-left-arrow,
    .twentytwenty-right-arrow,
    .twentytwenty-up-arrow,
    .twentytwenty-down-arrow {
        border: 8px inset transparent;
    }

    .sec04 .twentytwenty-horizontal .twentytwenty-handle:before {
        bottom: -13%;
        margin-bottom: 7px;
    }

    .sec04 .twentytwenty-left-arrow {
        border-right: 10px solid white;
        left: 35%;
        margin-left: -16px;
    }

    .sec04 .twentytwenty-left-arrow,
    .twentytwenty-right-arrow {
        top: 47%;
        margin-top: -6px;
    }

    .sec04 .twentytwenty-right-arrow {
        border-left: 10px solid white;
        right: 35%;
        margin-right: -16px;
    }

    .sec04 .twentytwenty-before-label:before,
    .sec04 .twentytwenty-after-label:before {
        padding: 0 12px;
        font-size: 16px;
        width: 75px;
        height: 31px;
    }

    .sec04 .sec04_btn {
        margin: 40px auto 5px;
    }

    /* sec05 */

    .sec05 .content {
        padding-bottom: 40px;
    }


    .sec05::before,
    .sec05::after {
        transform: scale(0.3);

    }

    .sec05::before {
        left: -170px;
        top: -158px;
    }

    .sec05::after {
        right: -208px;
        top: -108px;
    }

    .sec05 .inner {
        padding: 0;
    }

    .sec05 .inner::before,
    .sec05 .inner::after {
        position: absolute;
        z-index: 1;
        transform: scale(.5);
    }

    .sec05 .inner::before {
        left: calc(50% - 250px);
        top: -275px;
    }

    .sec05 .inner::after {
        left: calc(50% - 45px);
    }

    .sec05 .block {
        z-index: 2;
        max-width: 100%;
        width: 600px;
        padding: 0 0 80px 0;
        margin: 0 auto;
    }

    .sec05 .block::before,
    .sec05 .block::after {
        width: 22px;
        height: 26px;
    }

    .sec05 .block::before {
        left: 0px;
    }

    .sec05 .block::after {
        right: 0px;
    }

    .sec05 .block .title {
        top: -35px;
        left: 10px;
    }


    .sec05 .block .title::before {
        display: none;
    }



    .sec05 .block .title .ja {
        font-size: 30px;
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .sec05 .block .title .ja::before {
        right: -3px;
        bottom: -3px;
        z-index: -1;
    }

    .sec05 .block .ja.dif::after {
        width: 98px;
        height: 37.5px;
        right: -37px;
        bottom: -30px;
    }

    .sec05 .content::before,
    .sec05 .content::after {
        content: "";
        width: 150px;
        top: 0;
        height: 150px;
    }

    .sec05 .content::before {
        background: url(../images/sec05_img01.png) no-repeat;
        background-size: contain;

        left: 0;
    }

    .sec05 .content::after {
        background: url(../images/sec05_img02.png) no-repeat;
        right: 0;
        background-size: auto;
    }

    .sec05 ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .sec05 ul li {
        width: 100%;
        margin-bottom: 30px;
    }

    .sec05 ul li:last-child {
        margin-bottom: 0;
    }

    .sec05 ul li:first-child a,
    .sec05 ul li:last-child a {
        align-items: center;
    }

    .sec05 ul li .bottom {
        padding: 0 8px;
        width: 400px;
        max-width: 100%;
        align-items: center;
        margin-top: 16px;
    }

    .sec05 ul li .bottom .text {
        font-size: 26px;
        width: 100%;
    }

    .sec05 ul li .bottom .dect {
        font-size: 13px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    /* sec06 */
    .sec06::before {
        background: url(../images/sec06_img01.png) center / contain;
        height: 24px;
    }
    .sec06 .inner {
        padding: 0px 10px 14px;
    }

    .sec06 .block {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sec05 ul li .bottom .text .ja {
        font-size: 14px;
        width: 120px;
        height: 30px;
    }

    .sec06 .title {
        width: 100%;
        padding: 3px 3px 50px 3px;
        margin-top: -76px;
        box-shadow: 6px 6px 0 rgb(68 60 53 / 10%);
        transition: all cubic-bezier(0, 0, 0.2, 1) 0.3s;
        position: unset;
    }

    .sec06 .block .pic {
        width: 136px;
        height: 136px;
        background: url(../images/sec06_img02_sp.png) center /cover no-repeat;
        border-width: 3px;
    }

    .sec06 .title::after {
        top: unset;
        right: calc(50% - 13px);
        bottom: 13px;
        height: 28px;
        transform: rotate(360deg);
    }

    .sec06 .content {
        align-items: flex-start;
        padding-left: 0;
        justify-content: flex-start;
        padding: 100px 10px 0;
        height: auto;
    }

    .sec06 .content::before {
        background-size: cover;
        right: inherit;
        bottom: inherit;
        width: 133px;
        left: calc(50% - 63px);
        height: 111px;
        position: relative;
        order: 3
    }


    .sec06 .block.block02 .pic {
        width: 136px;
        height: 136px;
        background: url(../images/sec06_img03_sp.png) center /cover no-repeat;
        border-width: 3px;
    }

    .sec06 .block.block02 .content::before {
        background-size: cover;
        right: inherit;
        bottom: inherit;
        width: 186px;
        left: calc(50% - 93px);
        height: 104px;
    }

    .sec06 .bottom {
        font-size: 30px;
        width: 100%;
        text-align: center;
        line-height: 1.5em;
        margin-bottom: 30px;
    }

    .sec06 .top {
        top: inherit;
        font-size: 24px;
        margin: 0 auto 30px;
        line-height: 1.2em;
    }

    .sec06 .bottom>span {
        font-size: 135%;
        display: block;
        margin: 0;
        line-height: 1em;
    }

    .sec06 .block.block02 .bottom>span {
        line-height: 1.2em;
    }

    .sec06 .dect {
        margin: 40px 0;
        font-size: 11px;
    }

    .sec06 .wrap_btn {
        margin-top: 0px;
        flex-direction: column;
    }

    .sec06 .wrap_btn .btn {
        margin-right: 0;
        margin-bottom: 34px;
    }
    .sec06 .wrap_btn .btn:last-child {
        margin-bottom: 0;
    }

    /* sec07 */
    .sec07 {
        padding: 40px 0 60px;
    }
    .sec07 .title img {
        margin-right: 10px;
        width: 100px;
    }

    .sec07 .title .ja {
        left: 0;
        font-size: 60px;
    }

    .sec07 .title .ja::after {
        right: -54px;
        bottom: -56px;
        transform: scale(.7);
    }
    .sec07 .slick-slide img {
        margin: 0 auto;
    }



    /* sec08 */
    .sec08 .inner {
        padding: 0;
    }

    .sec08 .top {
        justify-content: space-between;
        padding: 0px 10px 0;
    }

    .sec08 .top_l {
        width: 360px;
        align-items: flex-start;
        flex-shrink: 0;
    }

    .sec08 .top_l .ja {
        padding: 13px 0px 0 70px;
        font-size: 30px;
        margin-right: 0;
    }

    .sec08 .top_l .ja::before {
        left: -20px;
        bottom: -55px;
        transform: scale(.56);
    }

    .sec08 .top_l .ja>span {
        margin: 0 0 0 -13px;
        font-size: 30px;
    }

    .sec08 .top_l .ja>span:first-child {
        margin-right: -12px;
    }

    .sec08 .top_l .content {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .sec08 .top_l .content::before {
        right: -60px;
        bottom: -80px;
        transform: scale(.6);
    }

    .sec08 .top_l .content>span {
        width: 80px;
        height: 80px;
        font-size: 50px;
    }

    .sec08 .top_l .dect {
        right: 0;
        left: 0;
        font-size: 10px;
        margin-top: 40px;
        margin-left: 0;
        height: 143px;
    }

    .sec08 .top_l .dect:before {
        left: -5px;
        width: 144px;
        height: 162px;
    }


    .sec08 .top_r {
        width: calc(50%);
    }

    .sec08 .top_r::before {
        top: 19px;
        left: 168px;
        width: 74px;
        height: 57px;
    }

    .sec08 .top_r::after {
        bottom: 15px;
        right: inherit;
        left: calc(50% - 115px);
        width: 230px;
        height: 80px;
    }

    .sec08 .top_r .pic::before {
        top: 0;
        right: inherit;
        left: 0;
        width: 174px;
        height: 234px;
    }

    .sec08 .top_r .pic::after {
        top: 87px;
        left: calc(50% - 135px);
        width: 270px;
        height: 225px;
    }

    .sec08 .bottom .info {
        margin: 24px 0px 0px;
        padding: 0 15px;
        justify-content: center;
    }

    .sec08 .bottom .info .box {
        width: 310px;
        height: 80px;
        padding-left: 15px;
    }

    .sec08 .bottom .info .left {
        margin-right: 10px;
        margin-bottom: 40px;
    }

    .sec08 .bottom .info .right {
        margin-left: 0;
    }

    .sec08 .bottom .info .box::before {
        font-size: 33.5px;
        left: 15px;
    }

    .sec08 .bottom .info .text {
        font-size: 24px;
        position: relative;
        z-index: 2;
    }
    .sec08 .bottom .info .text::before {
        width: 143px;
        height: 35px;
    }

    .sec08 .bottom .info .text::before,
    .sec08 .bottom .info .box:last-child .text::before {
           top: -55px;
           right: 20px;
    }

    .sec08 .bottom .info .box::after {
        width: 78px;
        height: 90px;
    
    }

    .sec08 .bottom .info .box.left::after {
        right: 0;
        bottom: 0;
    }


    .sec08 .bottom .info .box.right::after {
        width: 66px;
        height: 100px;
        right: 3px;
        bottom: 0;
    }

    .sec08 .bottom .btn {
        margin-bottom: 6px;
    }

    /*============ sec 09 ============*/
    .sec09 {
        margin-top: 0;
        padding-top: 40px;
    }
    .sec09::before{
        width: 960px;
        height: 765px;
    }

    .sec09 .inner {
        margin-top: 0;
    }

    .sec09 .title::before {
        bottom: inherit;
        top: 90px;
        left: calc(50% - 164px);
        width: 328px;
        height: 193px;
    }

    .sec09 .title .ja {
        font-size: 18px;
        text-align: center;
    }

    .sec09 .title .ja .f_big {
        font-size: 36px;
        display: unset;
    }

    .sec09 .title .ja .f_big>span {
        font-size: 50px;
    }

    .sec09 .title .dect {
        font-size: 14px;
        width: 100%;
        margin-top: 15px;
    }

    .sec09 .title .pic {
        position: unset;
        margin-top: 30px;
    }

    .sec09 .title .pic img {
        width: 200px;
    }

    .sec09 .content {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 160px;
    }

    .sec09 .content .text {
        z-index: 1;
        width: 300px;
        height: 66px;
        left: calc(50% - 150px);
        top: -110px;
    }

    .sec09 .content .video iframe {
        margin-bottom: 40px;
    }

    .sec09 .content .pic {
        margin-bottom: 40px;
    }

    .sec09 .btn {
        margin-bottom: 6px;
    }

    /*============ sec10 ============*/
    .sec10 .inner a img {
        margin: -12px auto 12px;
    }

    /*============ FOOTER ============*/
    .sec11 .inner {
        align-items: center;
        padding: 45px 10px 40px;
        flex-direction: column;
    }

    .sec11 .left.tel {
        text-align: center;
        height: 76px;
        margin-right: 100;
        padding: 0px 0px;
        margin: 0;
        width: 100%;
    }
    .sec11 .left::before {
        display: none;
    }

    .sec11 .left .sweetlink {
        font-size: 45px;
        float: none;
        text-align: center;
        position: relative;
        margin-left: 24px;
        margin-right: -24px;
        display: inline-block;
    }

    .sec11 .left .sweetlink::before {
        content: "";
        background: url(../images/sec11_img03.png) center / cover no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        left: -55px;
        top: -12px;
    }

 
    .sec11 .left .time {
        text-align: center;
        line-height: 3em;
    }

    .sec11 .right {
        width: 540px;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .sec11 .right .info {
        width: 100%;
        text-align: center;
        margin: 45px 0 23px 45px;
    }

    .sec11 .right .info::before {
        left: -45px;
        top: -38px;
    }

    .sec11 .right .block {
        width: calc(50% - 5px);
    }

    .sec11 .right .block.mail .text {
        margin-left: 0;
    }

    .sec11 .right .block.mail .text .text_top {
        margin-left: 44px;
    }

    .sec11 .right .block.mail {
        margin-bottom: 0px;
    }

    .sec11 .right .block.mail a,
    .sec11 .right .block.line a {
        max-width: 250px;
    }


    .sec11 .right .block .text::before {
        left: 22px;
        top: 8px;
        transform: scale(.9);
    }

    .sec11 .right .block .sub_text {
        width: 90%;
    }

    .sec11 .right .block.line {
        top: 238px;
    }


    .sec11 .right .block.line .text .f_small {
        font-size: 16px;
    }

    footer {
        padding-bottom: 70px;
    }

    .ft_content {
        padding: 40px 0 0px;
    }

    .ft_content .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 10px;
    }

    .ft_top {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 100%;
    }

    .ft_info {
        width: 100%;
        padding-right: 0;
    }

    .ft_info_logo {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
    }
    
    .ft_info_logo > a {
        width: 245px;
    }

    .ft_info_add {
        text-align: center;
        font-size: 15px;
    }

    .ft_info_logo .wrap_icon {
        margin-top: 20px;
        justify-content: center;
    }

    .ft_map {
        width: 100%;
        margin-top: 30px;
    }

    .ft_map_iframe {
        height: 150px;
        width: 80%;
        margin: 0 auto;
    }

    .ft_img {
        justify-content: center;
        width: 80%;
        margin: 35px auto 0;
    }

    .ft_img span {
        width: calc(100% / 2 - 10px);
        margin-right: 10px;
    }

    .ft_img span:last-child {
        margin-right: 0;
    }

    .ft_img span a {
        font-size: 16px;
        height: 65px;
    }

    /* sp contact */
    .sp_contact {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        z-index: 99;
        bottom: -55px;
        transition: all 0.3s;
    }

    address {
        padding: 40px 2px 0px 0;
        text-align: center;
    }

    .sp_contact.show {
        bottom: 0;
    }

    .sp_contact li {
        width: 50%;
        height: 100%;
    }

    .sp_contact li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
        line-height: 1.2;
        font-weight: bold;
    }
    .sp_contact li.sp_contact_tel a{font-size: 16px;}

    .sp_contact li a span {
        position: relative;
        padding-left: 25px
    }

    .sp_contact li a span::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: -5px;
        top: calc(50% - 10px)
    }

    .sp_contact_tel {
        background-color: var(--mcolor)
    }
  

    .sp_contact_tel a span::before {
        background: url(../images/ic_h_tel_wh.png) no-repeat center /20px
    }

    .sp_contact_mail {
        background-color: var(--blue)
    }

    .sp_contact_mail a span::before {
        background: url(../images/ic_h_mail.png) no-repeat center /20px;
    }

    /* to top */
    .to_top {
        width: 40px;
        height: 40px;
        right: 10px;
        bottom: 60px;
    }

    .to_top a img {
        bottom: 0;
        position: absolute
    }

    .to_top::before {
        width: 17px;
        left: 12px;
        height: 100%;
        top: 1px;
    }

    .to_top::after {
        width: 10px;
        height: 10px;
        left: 10px;
        top: 20px
    }

    /*============ END 750 ============ */


}



/* screen-max:460px */
@media screen and (max-width: 440px) {
    .sp440 {
        display: block !important;
    }

    .btn a {

        width: 310px;
        font-size: 18px;

    }
    .sec02 .inner {
        background-size: cover;
    }
    .sec04 .item .pic {
        width: 300px;
    }

    .sec05 .inner {
        padding: 0 10px;
    }

    .sec05 ul li {
        width: calc(100% - 20px);
        margin: 0 auto 30px;
    }

    .sec05 ul li .bottom .text {
        font-size: 22px;
    }

    .sec05 ul li .bottom .dect {
        font-size: 12px;
    }

    .sec08 .top {
        padding: 0;
        flex-direction: column;
    }

    .sec08 .top_l {
        width: 100%;
        align-items: center;
        flex-shrink: 0;
    }

    .sec08 .top_l .dect:before {
        left: 50px;
        top: -160px;
    }

    .sec08 .top_l .dect {
        text-align: center;
        margin-top: 140px;
        justify-content: center;
    }

    .sec08 .top_r {
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    .sec08 .top_r::before {
        top: 0px;
        right: 65px;
        left: inherit;
    }

    .sec08 .top_r::after {
        bottom: 50px;
        right: 50px;
    }
    .sec08 .top_l .dect {
        font-size: 14px;
    }


    .sec08 .top_r .pic::before {
        top: 0;
        right: calc(50% - 87px);
        left: inherit;
    }

    .sec08 .top_r .pic::after {
        top: 117px;
        left: calc(50% - 135px);
    }

    .sec08 .bottom .info {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 40px;
    }


    .sec08 .bottom .info .box {
        height: 80px;
        padding-left: 10px;
        margin-right: 0;
    }

    .sec08 .bottom .btn {
        margin-bottom: 6px;
    }

    .sec09 .content .video iframe {
        width: 326px;
        height: 184px;
    }

    .sec11 .left.tel {
        height: 60px;
    }

    .sec11 .left .sweetlink {
        font-size: 30px;
        margin-left: 28px;
        margin-right: 0px;
    }
    .sec11 .left .sweetlink::before {
        width: 28px;
        height: 28px;
        left: -33px;
        top: -9px;
    }
    

    .sec11 .left .time {
        font-size: 16px;
    }

    .sec11 .right .info {
        margin: 35px 0 23px 35px;
        font-size: 20px;
    }
    .sec11 .right .block .text {
        font-size: 18px;
    }

    .sec11 .right .block {
        width: 100%;
    }

    .sec11 .right .block.mail {
        margin-bottom: 20px;
    }
    .sec11 .right .block .text::before {
        left: 25px;
        top: 11px;
    }

    .ft_img {
        flex-wrap: wrap;
    }

    .ft_img span {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .ft_bnn li {
        width: 100%;
    }

    address {
        padding: 0px 2px 0px 0;
    }

    .sec06 .bottom {
        font-size: 7.25vw;
    }

}

/* screen-max: 360px */
@media screen and (max-width: 360px) {

    .sec02 .inner {
        background-position-x: center;
        background-position-y: 60px;
    }
    .sec04 .slick-prev::before {
        right: 5px;
    }

    .sec04 .slick-next::before {
        left: 5px;
    }

    .sec04 .item>div {
        padding: 45px 20px 45px 20px;
    }
    .sec04 .item .top {
        font-size: 14px;
    }
    .sec04 .item .top span {
        font-size: 9px;
        width: 80px;
        height: 20px;
        margin-right: 12px;
    }
    .sec04 .item .pic {
        width: 220px;
        max-width: 100%;
    }
    
    .sec08 .top_l .dect:before {
        left: 3px;
    }
    .sec08 .top_r::before {
        right: 5px;
    }
    .sec08 .bottom .info .box {
        width: 100%;
    }    
    .sec09 .content .video iframe {
        margin-bottom: 30px;
    }
    .sec09 .content .pic {
        margin-bottom: 30px;
        width: 183px;
        height: 260px;
    }

  
}